MONGODB_URI=mongodb+srv://chakrabortyanushrita_db_user1:NvPGwFCoF7KPhVfE@cluster0.aqlkp3n.mongodb.net/FoodDelivery?appName=Cluster0
PORT=4000
MONGODB_URI_NON_SRV=mongodb://chakrabortyanushrita_db_user1:NvPGwFCoF7KPhVfE@ac-vqme46t-shard-00-00.aqlkp3n.mongodb.net:27017,ac-vqme46t-shard-00-01.aqlkp3n.mongodb.net:27017,ac-vqme46t-shard-00-02.aqlkp3n.mongodb.net:27017/FoodDelivery?tls=true&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=food-delivery-secret-key
TWT_SECRET=food-delivery-secret-key
STRIPE_SECRET_KEY=
FRONTEND_URL=https://tomato-online-food-delivery-alpha.vercel.app
